<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Luncher - Catalogue</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>SetAdmin</servlet-name>
		<servlet-class>controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetAdmin</servlet-name>
		<url-pattern>/setAdmin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>controller.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>controller.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetAllProduct</servlet-name>
		<servlet-class>controller.GetAllProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllProduct</servlet-name>
		<url-pattern>/getAllProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetProduct</servlet-name>
		<servlet-class>controller.GetProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProduct</servlet-name>
		<url-pattern>/getProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>controller.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>News</servlet-name>
		<servlet-class>controller.NewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>News</servlet-name>
		<url-pattern>/news.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Newsletter</servlet-name>
		<servlet-class>controller.NewsletterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newsletter</servlet-name>
		<url-pattern>/changeNewsletter.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Panier</servlet-name>
		<servlet-class>controller.PanierController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Panier</servlet-name>
		<url-pattern>/panier.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Product</servlet-name>
		<servlet-class>controller.ProductController</servlet-class>
		<multipart-config>
			<location>/tmp</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/product.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Reviews</servlet-name>
		<servlet-class>controller.ReviewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reviews</servlet-name>
		<url-pattern>/reviews.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RmPanier</servlet-name>
		<servlet-class>controller.RmPanierController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RmPanier</servlet-name>
		<url-pattern>/rmPanier.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>controller.UpdateUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/updateUser.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateCatalog</servlet-name>
		<servlet-class>controller.UpdateCatalogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCatalog</servlet-name>
		<url-pattern>/updateCatalog.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateNews</servlet-name>
		<servlet-class>controller.UpdateNewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateNews</servlet-name>
		<url-pattern>/updateNews.do</url-pattern>
	</servlet-mapping>

</web-app>
