<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Luncher - Catalogue</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SetAdmin</servlet-name>
		<servlet-class>controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetAdmin</servlet-name>
		<url-pattern>/setAdmin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AllProduct</servlet-name>
		<servlet-class>controller.AllProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllProduct</servlet-name>
		<url-pattern>/allProduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>controller.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>controller.GetUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/getUser.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>controller.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>News</servlet-name>
		<servlet-class>controller.NewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>News</servlet-name>
		<url-pattern>/news.do</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>Newsletter</servlet-name>
		<servlet-class>controller.NewsletterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Newsletter</servlet-name>
		<url-pattern>/changeNewsletter.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Panier</servlet-name>
		<servlet-class>controller.PanierController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Panier</servlet-name>
		<url-pattern>/panier.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Product</servlet-name>
		<servlet-class>controller.ProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/product.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Reviews</servlet-name>
		<servlet-class>controller.ReviewsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reviews</servlet-name>
		<url-pattern>/reviews.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RmPanier</servlet-name>
		<servlet-class>controller.RmPanierController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RmPanier</servlet-name>
		<url-pattern>/rmPanier.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RmUser</servlet-name>
		<servlet-class>controller.rmUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RmUser</servlet-name>
		<url-pattern>/rmUser.do</url-pattern>
	</servlet-mapping>

</web-app>
