.page-body
{
	width: 50%;
	height: 800px;
	margin: 10px;
	padding: 5px;
	background-color: #ededed;
	border-left: 1px solid #712124;
	border-right: 1px solid #712124;
	border-bottom: 1px solid #712124;
	border-radius: 0px 0px 10px 10px;
	margin-top: -1px;
	z-index: 1;
}