body {
	font-family: 'Marck Script', cursive;
	background: url('../img/background.jpg') no-repeat fixed center center/cover
		transparent;
	margin: 0 auto;
}

h1 {
	color: gray;
	margin: 0 auto;
}

.bar-top {
	top: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #ededed;
	border-bottom: 1px solid #712124;
	z-index: 0;
	text-align: center;
}

.error
{
	width: 50%;
	background-color: red;
	color: black;
}

.success
{
	width: 50%;
	background-color: green;
	color: black;
}

.bar-top>h1 {
	float: left;
}

.login {
	float: right;
}

.defileParent
{
	width: 100%;
	background-color: white;
	margin-bottom: 10px;
}

.defile {
	font-family: arial;
	border: 5px solid #712124;
}