body {
	font-family: 'Marck Script', cursive;
	background: url('../img/bg3.jpg') no-repeat fixed center center/cover
		transparent;
	margin: 0 auto;
}

h1 {
	color: gray;
	margin: 0 auto;
}	

.bar-top {
	top: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #ededed;
	border-bottom:	1px solid #712124;
	z-index: 0;
}

h1.title, .login {
	vertical-align: middle;
	display:inline-block;
}

h1.title {
	margin-left: 1%;
}

.login {
	float: right;
}

.container-inscription
{
	width: 320px;
	margin: 10px;
	padding: 5px;
	background-color: #ededed;
	border-left: 1px solid #712124;
	border-right: 1px solid #712124;
	border-bottom: 1px solid #712124;
	border-radius: 0px 0px 10px 10px;
	margin-top: -1px;
	z-index: 1;
}


form>input {
	width: 304px;
	height: 25px;
	margin: 5px;
}

form>input.regular {
	width: 138px;
}

form>input.small {
	width: 83px;
}